body{
    height: 100vh;
    width: 100%;
}

#root{
    height: 100%;
    width: 100%;
}

.listing-container{
    height: 100%;
    .listing-layout{
        height: 100%;
        

        .listing-header{
            background-color: #fffcfc;
            padding: 0;
            line-height: 0px;
            display: flex;
            align-items: center;
            // border-bottom: 1px solid #f5f5f5;
        }

        .listing-content{
            min-height: 120px;
            width: 800px;
            margin: 0 auto;
            background-color: #fff;
            @media screen and (max-width: 800px) {
                width: 100%;
            }

            .listing-info{
                margin: 40px 40px 0 40px;
                .listing-address {
                    font-size: 16px;
                }

                .listing-price{
                    // margin-bottom: 10px;
                    h2{
                        margin: 0;
                        font-size: 18px;
                    }
                }

                .listing-cardInfo{
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    line-height: 22px;

                    .cardInfo-bed{
                        padding-right: 9px;
                        display: flex;
                        align-items: center;
                        font-size: 14px;
                    }
                    .cardInfo-bath{
                        padding-right: 9px;
                        display: flex;
                        align-items: center;
                        position: relative;
                        &:before{
                            position: absolute;
                            font-size: 15px;
                            content: "|";
                            bottom: 1px;
                            color: grey;
                            display: block;
                            left: -6px;
                        }
                    }
                    .cardInfo-type{
                        display: flex;
                        align-items: center;
                        position: relative;
                        &:before{
                            position: absolute;
                            font-size: 15px;
                            content: "|";
                            bottom: 1px;
                            color: grey;
                            display: block;
                            left: -7px;
                        }
                    }
                }

                .listing-overview {
                    // background-color: pink;
                    h3{
                        margin-bottom: 32px;
                        line-height: 24px;
                        font-size: 16px;
                        font-weight: 600;
                    }
                    ul {
                        font-size: 14px;
                        line-height: 24px;
                        li{
                            span{
                                font-weight: 600;
                            }
                        }
                    }
                }
            }

            
        }

        .listing-footer{
            text-align: center;
            color: white;
            background-color: #4096ff;
        }
    }
}

