
html {
    min-height: 100%;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.loading-container{
    margin: 20px auto 20px;
    padding: 30px 50px;
    width: 80%;
    height: 400px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}
.home-layout{
    min-height: 100vh;
    .home-header{
        line-height: 0px;
        padding: 0;
        background-color: #fff;
        display: flex;
        align-items: center;
    }

    .home-content{
        width: 1200px;
        margin: 0 auto;
        background-color: #fff;
        @media screen and (max-width: 1200px) {
            width: 100%;
        }
    }

    .home-footer{
        width: 1200px;
        margin: 0 auto;
        background-color: #fff;
        @media screen and (max-width: 1200px) {
            width: 100%;
        }
        ul{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}