/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.Header {
    max-height: 40px;
    width: 100vw;
    position: relative
}

.Header .HF-Logo {
    max-height: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    img {
        max-height: 100%;
        width: auto;
        object-fit: contain;
    };
    cursor: pointer;
}

.user-btn{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
}

.ChatContainer {
    max-height: 36px;
    padding: 4px 10px
}

.ProfileContainer {
    max-height: 36px;
    padding: 4px 10px
}
