.Card{
    max-height: 310x;
    max-width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5px 5px;
    border-width: 2px;
    border-radius: 10px;
    border-color: #3F007F;
    background-color: rgb(234, 229, 237);
}

.Card-Image{
    height: 250px;
    width: 250px;
    padding-left: 5px;
    overflow: hidden;
    border-radius: 10px;
    img {
        object-fit: fill;
    };
}

a{
    padding-left: 5px;
    font-weight: bolder;
    font-family:Arial;
    text-decoration: underline;
}

b{
    padding-left: 5px;
    font-size: medium;
    font-family:Arial;
    font-weight: bold;
}

h2{
    padding-left: 5px;
    font-size: small;
    font-family:Arial;
    color: rgb(15, 15, 15);
}